<div class="current-content">
  <h1 align="center">Current Jackpot</h1>
  <%= render 'jackpots/progress' %>
  <div class="live-jackpot">
    <div class="center" style="padding:100px">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
  </div>
</div>
