 <div id="jackpot-doughnut" class="donut-size" style="margin-top: 20px">
  <div class="pie-wrapper">
    <span class="label">
        <span class="ether-logo"><img src="images/ether.png"></span>
    </span>
    <div class="pie">
      <div class="left-side half-circle"></div>
      <div class="right-side half-circle"></div>
    </div>
    <div class="shadow"></div>
  </div>
  <div>
    <h2 align="center" id="pot-size"></h2>
  </div>
  <div>
    <h5 align="center" id="time-left"></h5>
  </div>
</div>